body {
  background: #0a0f2c;
  color: purple;
  text-align: center;
  font-family: Arial;
}

button {
  margin: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background: #1e2a4a;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #00bfff;
}
